body{
    color: white;
    background-color: darkslategrey;
}
.slidecontainer{
    height :100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.slider{
    width: 80%;
}


